.dropdown {
  display: none;
}

.seller-content select {
  display: none;
}
.seller-content .dropdown {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  color: #F88130;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 5px;
  padding-right: 20px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
}
.seller-content .dropdown ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.seller-content .dropdown:after {
  height: 0;
  width: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #F88130;
  transform: origin(50% 20%);
  transition: all 0.125s ease-in-out;
  content: "";
  display: inline-block;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: 45%;
}
.seller-content .dropdown.open:after {
  transform: rotate(-180deg);
}
.seller-content .dropdown.open .list {
  list-style: none !important;
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
.seller-content .dropdown.open .option {
  cursor: pointer;
}
.seller-content .dropdown.wide {
  width: 100%;
}
.seller-content .dropdown.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.seller-content .dropdown .list {
  box-sizing: border-box;
  transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  transform: scale(0.75);
  transform-origin: 50% 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  border-radius: 6px;
  margin-top: 4px;
  padding: 3px 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
}
.seller-content .dropdown .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.seller-content .dropdown .option {
  cursor: default;
  font-weight: 400;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
.seller-content .dropdown .option:hover, .seller-content .dropdown .option:focus {
  background-color: #f6f6f6 !important;
}
.seller-content .dropdown .option.selected {
  font-weight: 600;
}
.seller-content .dropdown .option.selected:focus {
  background: #f6f6f6;
}
