.fade-in-top {
  -webkit-animation: fade-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out-top {
  -webkit-animation: fade-out-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out-bottom {
  -webkit-animation: fade-out-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.notif-fade {
  -webkit-animation: notif-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: notif-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: notif-out-top 4.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: notif-out-top 4.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes notif-in-top {
  0% {
    transform: translateY(-1px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes notif-in-top {
  0% {
    transform: translateY(-1px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes notif-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1px);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1px);
    opacity: 0;
  }
}
.scale-in {
  -webkit-animation: custom-scale-in 0.2s;
          animation: custom-scale-in 0.2s;
}

.scale-out {
  -webkit-animation: custom-scale-out 0.2s;
          animation: custom-scale-out 0.2s;
}

.button-click {
  -webkit-animation: button-click 0.08s ease-in;
          animation: button-click 0.08s ease-in;
}

@-webkit-keyframes custom-scale-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes custom-scale-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes custom-scale-out {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes custom-scale-out {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@-webkit-keyframes fade-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}
.color-change-3x {
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #ffc170;
  }
  100% {
    background: #70dc69;
  }
}
@keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #ffc170;
  }
  100% {
    background: #70dc69;
  }
}
@-webkit-keyframes button-click {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes button-click {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-background, .filterList .placeholder-div .userName, .filterList .placeholder-div .userPrice, .filterList .placeholder-div .userCircle {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

.rotate-in {
  -webkit-animation: rotate-in 0.2s linear;
  animation: rotate-in 0.2s linear;
}

.rotate-out {
  -webkit-animation: rotate-out 0.2s linear;
  animation: rotate-out 0.2s linear;
}

@-webkit-keyframes rotate-in {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
  }
}
@-webkit-keyframes rotate-out {
  0% {
    -webkit-transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.main-content .main-row {
  min-height: calc(100vh - 71px);
  margin: 0 !important;
  width: 100%;
  height: calc(100% - 71px);
  background-image: url("/images/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-content .main-row .top-sellers {
  position: fixed;
  top: 71px;
  left: 0;
  height: calc(100% - 71px);
  background: linear-gradient(rgba(241, 241, 241, 0.5), rgba(241, 241, 241, 0.5));
  padding: 0 5px;
  overflow-y: auto;
}
.main-content .main-row .top-sellers .seller-content {
  padding-top: 10px;
  display: flex;
}
.main-content .main-row .top-sellers .seller-content select {
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background: none;
  font-weight: 600;
  color: #F88130;
}
.main-content .main-row .top-sellers .seller-content select:focus {
  outline: none;
}
.main-content .main-row .top-sellers .seller-content select option {
  color: black;
  font-size: 20px;
}
.main-content .main-row .top-sellers .seller-content select option:checked {
  color: #F88130;
}
.main-content .main-row .top-sellers .dd {
  color: #F88130;
}
.main-content .main-row .item-content {
  margin-left: 16.6666666667%;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}
.main-content .main-row .item-content .item-filter {
  display: flex;
  justify-content: space-between;
}
.main-content .main-row .item-content .item-filter .filter-btn {
  border-width: 0px;
  border: none;
  background: #c7c7c7;
  color: black;
  margin-left: 15px;
  border-radius: 15px;
  padding: 5px 30px;
  font-weight: bold;
}
.main-content .main-row .item-content .item-filter .filter-btn:focus {
  outline: none;
}
.main-content .main-row .item-content .item-filter .active {
  background: #FFCAB3;
  color: #F88130;
}
.main-content .main-row .item-content .item-filter .sorter {
  padding-right: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.main-content .main-row .item-content .item-filter .sorter:focus {
  color: #F88130;
}
.main-content .main-row .item-content .items {
  padding: 10px 40px 0 10px;
  font-size: 12px;
}
.main-content .main-row .item-content .items .col-md-3 {
  padding: 5px 45px 15px 45px;
}
.main-content .main-row .item-content .items .specialContainer {
  border: 1px solid #696868;
  padding: 5px;
}
.main-content .main-row .item-content .items .specialContainer .content {
  border: 1px solid #696868;
  padding: 5px 10px;
}
.main-content .content-top {
  background: black;
  color: white;
}

.filterList .topUserList {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.filterList .topUserList .numbering {
  font-size: 13px;
  color: #545454;
  margin-right: 15px;
}
.filterList .topUserList .filterImg {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}
.filterList .topUserList .user-info {
  margin-left: 0 !important;
}
.filterList .topUserList .user-info h6 {
  font-size: 18px;
  font-weight: 600;
}
.filterList .topUserList .user-info label {
  font-weight: 600;
  font-color: #ececec;
  font-size: 15px;
}
.filterList .placeholder-div {
  border-bottom: 1px solid #b1b1b1;
  margin-bottom: 10px;
}
.filterList .placeholder-div .userCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.filterList .placeholder-div .userName, .filterList .placeholder-div .userPrice {
  height: 20px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.filterList .placeholder-div .userName {
  width: 100%;
}
.filterList .placeholder-div .userPrice {
  width: 50%;
}

.filterListMobile .filterImg {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
