@media only screen and (max-width: 450px) {
  #create-collectible-modal .modal-content {
    width: 100vw;
  }

  #changePriceModal .changePrice-content {
    left: 0 !important;
    top: 53% !important;
  }

  #burnModal .burn-content {
    left: 0 !important;
    top: 63% !important;
  }

  #transferModal .transfer-content {
    left: 0 !important;
    top: 49% !important;
  }

  .filterList #preloader-top-user {
    display: flex;
  }

  .filterList #preloader-top-user .placeholder-div {
    margin-right: 10px;
    border: none !important;
  }

  .filterList #preloader-top-user .placeholder-div .userCircle {
    width: 80px !important;
    height: 80px !important;
    margin-bottom: 5px;
  }

  .filterList #preloader-top-user .placeholder-div .userPrice {
    width: 80% !important;
    margin: 0 auto;
  }

  .show-opt-menu {
    right: 30px !important;
  }

  .grid-container {
    display: flex !important;
  }

  #web-content {
    margin-top: 68px;
  }

  .walletSection {
    height: 100vh;
    text-align: center !important;
  }

  .walletSection #first {
    order: 2;
  }

  .walletSection #second {
    order: 1;
  }

  .walletSection .hide-sm {
    display: none;
  }

  .walletSection .withContent {
    padding-right: 10px;
    padding-left: 10px;
  }

  .walletSection .content-title {
    padding-left: 0;
    font-size: 2rem;
  }

  .walletSection .btnGroup {
    padding-left: 0;
    padding-top: 20px;
  }

  .walletSection .imgPos1 {
    top: 36%;
    left: -13%;
  }

  .walletSection .imgPos2 {
    top: 12%;
    right: -13%;
  }

  .walletSection .imgPos3 {
    top: 12%;
    left: 19%;
  }

  .walletSection .imgPos4 {
    top: 36%;
    right: 19%;
  }

  .navbar-brand img {
    width: 45px;
  }

  .seller-content {
    font-size: 23px;
    padding-left: 15px;
  }

  .dropdown {
    font-size: 20px !important;
    font-weight: bold;
  }

  .dropdown .current {
    font-weight: bold;
  }

  .sortDesk {
    display: none;
  }

  .sortfilter {
    right: -0.5em;
  }

  .sorter {
    padding-right: 0 !important;
  }

  .filter-btn {
    margin-left: 0px !important;
    margin-right: 10px;
    border-radius: 15px;
    padding: 5px 20px !important;
  }

  .item-filter {
    padding-top: 10px;
  }

  .filterListMobile {
    display: flex;
    overflow-y: auto;
  }

  .filterListMobile .filterItemMobile {
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .filterListMobile .filterItemMobile img {
    width: 80px;
  }

  .filterListMobile .filterItemMobile .profName {
    font-weight: 700;
  }

  .filterListMobile .filterItemMobile .prof {
    color: #545454;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  #actual-top-user {
    display: flex;
    overflow-y: auto;
  }

  #actual-top-user .topUserList {
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #actual-top-user .topUserList img {
    width: 80px;
    height: 80px !important;
    margin-right: 0 !important;
  }

  #actual-top-user .topUserList .profName {
    font-weight: 700;
  }

  #actual-top-user .topUserList .prof {
    color: #545454;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  #actual-top-user .topUserList .top-user-container .fa-check {
    left: 57px;
    bottom: -1px;
  }

  .main-content .items {
    padding: 10px 20px 0 20px !important;
  }

  .main-content .items .col-md-3 {
    padding: 15px 0 !important;
  }

  .main-content .items .specialContainer .content {
    padding: 10px 35px !important;
  }

  .main-content .items .specialContainer .content .legend {
    font-size: 15px;
  }

  .main-content .items .specialContainer .content .currency-amount {
    font-size: 18px !important;
  }

  .main-content .items .specialContainer .content .currency-label {
    font-size: 18px !important;
  }

  .main-content .items .specialContainer .content .viewBtn {
    font-size: 18px !important;
  }

  .main-content .top-sellers {
    background: #f1efef !important;
    position: relative !important;
    top: 0 !important;
  }

  .main-content .item-content {
    margin-left: 0 !important;
  }

  .main-content .item-content #nft-container {
    display: flex !important;
  }

  .main-row {
    background: white !important;
  }

  .right-nav .nav-item {
    padding-left: 25px !important;
  }

  .custom-navbar {
    height: 68px;
  }

  .imgSmall,
  .imgNormal,
  .imgLarge {
    background: white;
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }

  .connect-wallet {
    text-align: left !important;
  }

  .connect-wallet .withContent {
    padding: 20px 60px !important;
  }

  .connect-wallet .withContent .pr-20 {
    padding-right: 0 !important;
  }

  .connect-wallet .withContent .pr-30 {
    padding-right: 0 !important;
  }

  .connect-wallet .withContent .mobile-padding-top {
    padding-top: 20px;
  }

  .connect-wallet .withContent .text-bold {
    font-weight: 600;
    color: #545454;
    padding-top: 10px;
  }

  .connect-wallet .withContent .mtext-title {
    padding-top: 15px;
    font-size: 18px;
  }

  .connect-wallet .withContent .pl-40 {
    padding-left: 0;
  }

  .connect-wallet .withBg {
    height: 200px;
  }

  .connect-wallet .imgPos1 {
    top: 36%;
    left: -13%;
  }

  .connect-wallet .imgPos2 {
    top: 12%;
    right: -13%;
  }

  .connect-wallet .imgPos3 {
    top: 12%;
    left: 19%;
  }

  .connect-wallet .imgPos4 {
    top: 36%;
    right: 19%;
  }

  .walletconnect {
    padding-left: 0 !important;
  }

  .walletconnect #wallet_item {
    color: black !important;
    text-align: center;
    padding: 25px 0;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    background: white;
    border: 1px solid white;
    box-shadow: 0 0 0 1px #FFC170, 0 0 0 6px white, 0 0 0 9px #FFC170;
  }

  .walletconnect #wallet_item img {
    height: 50px;
    margin: auto;
    display: block;
  }

  .walletconnect .outside {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 150px;
    background: #F88130;
    --notchSize: 10px;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  }

  .walletconnect .inside {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: white;
    --notchSize: 10px;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  }

  .walletconnect .inner {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: white;
    --notchSize: 10px;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    text-align: center;
    padding: 10px;
  }

  .walletconnect .inner .fa-plus {
    border-radius: 50%;
    padding: 6px;
    color: white;
    background: #FFC170;
  }

  .walletconnect .inner img {
    width: 30px;
  }

  .walletconnect .inner-outside {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #FFC170;
    --notchSize: 10px;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  }

  .show-collectible .end-content {
    padding-bottom: 100px;
  }

  .show-collectible .first-mobile {
    order: 1;
    padding: 30px 20px;
  }

  .show-collectible .first-mobile .inner-img .collectble-container .showImg {
    width: 100% !important;
  }

  .show-collectible .first-mobile .inner-img .imgHead {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .show-collectible .first-mobile .inner-img .imgHead .imgHead-link {
    text-decoration: none;
    color: black;
    width: 100%;
    padding-right: 10px;
  }

  .show-collectible .first-mobile .inner-img .imgHead .imgHead-link:hover {
    text-decoration: none;
    color: #F88130;
  }

  .show-collectible .first-mobile .inner-img .imgHead .imgHead-link .expand {
    color: #F88130;
  }

  .show-collectible .first-mobile .showImgBg {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 15%;
    width: 400px;
  }

  .show-collectible .first-mobile .mobile-imgHead {
    display: block;
    position: absolute;
    top: 15%;
    z-index: 1;
    width: 100%;
    left: 0;
  }

  .show-collectible .first-mobile .mobile-imgHead .mobile-show-link {
    width: 100%;
    text-decoration: none;
    line-height: 1 !important;
  }

  .show-collectible .first-mobile .mobile-imgHead .mobile-show-link .fa-heart,
  .show-collectible .first-mobile .mobile-imgHead .mobile-show-link .fa-arrows-alt {
    font-size: 25px;
    color: #F88130;
    border-radius: 50%;
    text-align: center;
    background: white;
    padding: 7px 9px;
  }

  .show-collectible .first-mobile .mobile-imgHead .mobile-show-link .photoHead {
    margin-top: -13px;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    padding: 5px;
  }

  .show-collectible .second-mobile {
    order: 2;
  }

  .show-collectible .second-mobile .collectibleTitle {
    text-align: left !important;
    padding: 15px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .show-collectible .second-mobile .collectibleTitle h3 {
    margin-bottom: 0;
    width: 275px;
  }

  .show-collectible .second-mobile .collectibleTitle h3 .inline-title {
    font-size: 1.5rem;
  }

  .show-collectible .second-mobile .collectibleTitle .titleIcon {
    margin-left: 0px !important;
    padding: 6px !important;
    font-size: 15px !important;
  }

  .show-collectible .second-mobile .priceTag {
    padding-top: 0;
  }

  .show-collectible .second-mobile .showCurrency {
    margin-left: 0;
  }

  .show-collectible .second-mobile .itemType {
    padding-left: 0;
    padding-top: 10px;
  }

  .show-collectible .second-mobile .itemDesc {
    padding: 0 0 0 10px;
  }

  .show-collectible .second-mobile .custom-dtab {
    display: flex;
  }

  .show-collectible .second-mobile .tabGroup {
    padding-left: 0;
  }

  .show-collectible .second-mobile .show-footer-btn {
    padding: 20px 0 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    z-index: 998;
  }

  .show-collectible .second-mobile .show-footer-btn .buyBtn {
    margin: 0 auto;
    border-radius: 40px;
    padding: 10px 73px;
    font-size: 20px;
  }

  .create-tab .create-content {
    padding: 15px;
    margin: 0 !important;
  }

  .create-tab .create-content .main-create {
    padding: 20px 5px;
  }

  .create-tab .create-content .main-create .col-md-6 {
    padding-top: 15px;
    margin: -3px 60px;
  }

  .create-tab .create-content .main-create .col-md-6 .col-content {
    padding: 40px 25px 10px 25px;
    padding: 20px 0;
  }

  .create-tab .create-content .main-create .col-md-6 #box img {
    width: 80%;
  }

  .create-tab .create-content .desc {
    padding: 15px 0;
  }

  .create-tab .create-content .desc-bottom {
    padding: 30px 10px;
  }

  .create-tab .create-content .solo-create {
    padding-left: 0;
    padding-bottom: 0;
  }

  .create-tab .create-content .solo-create .text-head {
    font-size: 2.5rem;
    padding-top: 15px;
  }

  .create-tab .create-content .solo-create .text-upload {
    padding-top: 20px;
  }

  .create-tab .create-content .solo-create .fileArea {
    padding: 20px 40px;
  }

  .create-tab .create-content .solo-create .text-content {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 1.25rem;
  }

  .create-tab .create-content .solo-create .outside {
    width: 120px;
    height: 120px;
  }

  .create-tab .create-content .solo-create .outside .inner .fa-plus {
    margin-top: 10px;
  }

  .create-tab .create-content .solo-create .outside .inner img {
    margin-top: 10px;
  }

  .create-tab .create-content .solo-create .switch {
    margin-top: 13px;
  }

  .profile-cover {
    height: 160px;
  }

  .profile-section .profile-info .details-container {
    width: 100%;
  }

  .all-collection .filter-collection {
    flex: 1;
    white-space: nowrap;
    overflow: auto;
  }

  .all-collection .filter-collection .filter {
    display: inline-block;
  }

  .all-collection .collection-tab {
    padding: 50px 0;
  }

  .all-collection .collection-tab .w-30 {
    width: 100%;
  }

  .custom-modal .modal-content {
    background-color: #fefefe;
    left: 0;
    bottom: 0;
    transform: translate(0, 24%);
    padding: 30px !important;
    border: 1px solid #888;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .custom-modal .modal-content.login-content {
    left: 0 !important;
  }

  .custom-modal .modal-body {
    padding: 1rem 0 0 0;
  }

  .custom-navbar .notification {
    left: 9px;
    height: 280px;
    width: 280px;
  }

  .walletSection:after {
    display: none;
  }

  .custom-modal .checkout-content {
    left: 0% !important;
    top: 18% !important;
  }

  .custom-modal .bid-content {
    left: 0% !important;
    top: 14% !important;
  }

  .custom-modal .report-content {
    left: 0% !important;
    top: 45% !important;
  }

  .custom-modal .preferences-content {
    left: 0% !important;
    top: 14.5% !important;
  }

  .custom-modal .following-content,
  .custom-modal .follower-content,
  .custom-modal .cover-content {
    left: 0% !important;
    top: 63.5% !important;
  }

  .about-bhc {
    width: 100%;
  }

  .about-bhc .first-section {
    padding: 70px 40px;
  }

  .about-bhc .first-section .claim-section {
    margin: 0 -20px;
  }

  .about-bhc .first-section .claim-section div {
    text-align: center;
    flex-basis: 100%;
  }

  .about-bhc .first-section .claim-section div:not(:last-child) {
    padding-bottom: 10px;
  }

  .about-bhc .second-section h1 {
    padding: 0 0 30px 0;
  }

  .about-bhc .second-section .row {
    padding: 0 20px;
    margin-right: 0;
  }

  .about-bhc .third-section .desc,
  .about-bhc .fourth-section .desc {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about-bhc .third-section .icon-group,
  .about-bhc .fourth-section .icon-group {
    padding: 30px;
  }

  .about-bhc .third-section .icon-group div,
  .about-bhc .fourth-section .icon-group div {
    flex-basis: 50%;
  }

  .about-bhc .third-section .learn-more,
  .about-bhc .fourth-section .learn-more {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .fileArea .file-output,
  .fileArea .file-output-video {
    padding: 30px 0px;
  }

  .fileArea .file-output .category-img-tag,
  .fileArea .file-output-video .category-img-tag {
    width: 100% !important;
  }

  .fileArea .file-output video,
  .fileArea .file-output-video video {
    width: 100% !important;
  }

  .fileArea .file-output .close-btn,
  .fileArea .file-output-video .close-btn {
    right: -9%;
  }

  .item-img {
    height: 250px;
    max-height: 300px !important;
  }

  .item-img img,
  .item-img video {
    max-height: 250px !important;
  }

  #create-stepsModal .create-steps-content {
    left: 0 !important;
    top: 6% !important;
    max-height: 100vh;
  }

  #collectionModal .collection-content {
    left: 7% !important;
    top: 5% !important;
    max-height: 100vh;
  }

  .profile-cover #current-cover-photo {
    max-width: 100% !important;
    height: 160px !important;
  }

  .profile-section {
    width: 70%;
  }

  .main-dashboard .outside-nft {
    width: 263px;
    height: 395px;
    display: block;
    margin: 0 auto;
  }

  .faq-container {
    width: 80%;
  }

  .faq-container .heading .head-text {
    font-size: 2rem;
  }

  .faq-container .heading .head-img {
    height: 100px;
    padding-bottom: 10px;
  }

  .show-collectible .custom-lg-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    max-height: 100%;
    overflow-x: hidden;
  }

  .show-collectible .custom-lg-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .showContent .inner-img .collectible-container .showImg {
    min-height: 10vh;
  }

  .nft-fullscreen .nft-item {
    max-height: 60vh;
    max-width: 90vw;
  }

  .row-0 .nav-tabs {
    border: none;
    padding-left: 0 !important;
    position: sticky;
    top: 0;
    background: #ececec;
    z-index: 98;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .title-container .margin-0 {
    background: #ececec;
  }

  .search-page {
    padding: 0 !important;
  }

  .search-page .col-md-3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .search-page .main-dashboard .outside-nft {
    height: 400px;
  }

  .profile-section .profile-info .details-container #profile-wallet {
    overflow-x: scroll;
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media only screen and (min-width: 700px) {
  .create-tab .create-section {
    height: calc(100vh - 221px);
  }
}

@media only screen and (min-width: 900px) and (max-width: 1400px) {
  .showContent {
    height: calc(100vh - 73px);
  }

  .showContent .inner-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .walletSection:after {
    top: -13%;
    left: -8%;
    background-size: 300px;
  }

  .main-content .main-row .item-content .items .col-md-3 {
    padding: 5px 25px 15px 25px !important;
  }
}

@media only screen and (min-width: 1500px) {
  .main-content .main-row .col-lg-2 {
    flex: 0 0 21% !important;
    max-width: 21% !important;
    padding: 0 30px !important;
  }

  .main-content .main-row .col-lg-10 {
    margin-left: 21% !important;
    flex: 0 0 79% !important;
    max-width: 79% !important;
  }

  .back-btn {
    padding: 50px 0 30px 100px;
  }

  .solo-create .row .col-md-8 {
    padding-left: 100px;
  }

  .solo-create .row .col-md-4 .preview-pane .preview .outside {
    width: 80%;
  }
}

@media only screen and (min-width: 1800px) {
  .custom-column-xl {
    flex: 0 0 16.66667% !important;
    max-width: 16.66667% !important;
    padding: 15px !important;
  }

  .row-0 .withBgGray .title-container .margin-0 {
    padding-left: 30px;
    margin: 0 !important;
    background: #ececec;
  }
}


